.DS_Store
Temp/*
Library/previews/*
Library/ScriptAssemblies/*
Library/cache/*
Library/metadata/*
Library/*
!Library/BuildSettings.asset
Library/InspectorExpandedItems.asset
Doxyfile
Assembly-CSharp*.csproj
Assembly-CSharp*.pidb
SaveData/*
!SaveData/*.example


*.sln
*.userprefs
Library/ProjectSettings.asset
Assets/Editor/BatchBuild.cs.meta
downloads/
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.pidb
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/guidmapper
/Library/expandedItems
/Library/assetDatabase3
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj